node_modules/*
bower_components/*
/web
/themes

/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

.DS_Store
Thumbs.dbgh-pages/

*.zip
gh-pages
src/js/mbe.js

*.zip

NXTBDY.zip

src/js/mbe.js

NXTBDY.zip

NXTBDY.zip
