<div class="oj-hybrid-padding">
	<div>
		<ul id="badgesListView" aria-label="list using collection" style="height:100%" 
				data-bind="ojComponent: {
				component: 'ojListView', 
				data: dataSource, 
				item: {
					template: 'badges_template'
				}, 
				selectionMode: 'none'
				}">
		</ul>
	</div>
</div>

<script type="text/html" id="badges_template">
	<li>
    <div class="oj-flex-bar">
  		<div class="oj-flex-bar-start oj-sm-6">
			 	<div class="oj-flex-item" id="gauge" title="Value: 20<br>Reference Lines: Low 33, Medium 67, High 100" data-bind="ojComponent: {
			    component: 'ojStatusMeterGauge', 
			    min: 0, 
			    max: goal, 
			    value: progress,  
			    startAngle: 180,
		      angleExtent: 180,
			    orientation: 'circular',
			    metricLabel: {rendered: 'on'},
			    plotArea: {rendered: 'on'},
			    style: { fill: '#0572ce' }
			    }"
			    style="align:center; margin-top:5px; margin-bottom:5px; height:50px; width:45%;">
		    </div>
		  </div>
    	<div class="oj-flex-bar-middle oj-sm-4">
    		<h2 data-bind="text: badge"></h2>
    	</div>
    </div>
	</li>
</script>