<div id="chat_panel" class="oj-flex scroll-wrapper tab-content scrollbar-wrapper wrapper scrollbar-outer">
	<ul id="listview" style="max-height: 79vh; overflow:auto;" aria-label="list using collection"
			data-bind="ojComponent: {
			component: 'ojListView', 
			data: dataSource, 
			item: {
				template: 'list_template'
			}, 
			selectionMode: 'none'
			}">
	</ul>
</div>
<div class="send-message" style="position: absolute; bottom: 0; width: 100%">
  <div class="input-group">
  	<input id="msg_input" class="form-control" placeholder="Message..."
     type="text"
     data-bind="ojComponent: {component: 'ojInputText', value: msg, optionChange: msgSubmit}"/>
    <span class="input-group-btn">
    	<button id= "button"
        data-bind="click: msgSubmit, 
                   ojComponent: { component: 'ojButton', label: 'Send' }">
			</button>
    </span>
  </div>
</div>



<script type="text/html" id="list_template">

	<li data-bind="attr: {class: 'chat_' + from_id}">
    <div class="oj-flex-bar">
			<div class="oj-flex-bar-start oj-sm-2">
				<div style="width: 50px;"><img data-bind="attr: { src: 'css/images/user_' + from_id + '.png'}" class="profile-photo-sm t"/></div>
			</div>
			<div class="oj-flex-bar-middle oj-sm-10">
				<p><em data-bind="text: from_name"></em>: <span data-bind="text: message"></span></p>
			</div>
		</div>
	</li>
</script>